@charset "utf-8";

body {
    padding: 0;
    margin: 0;
    background-color:  #F5F5DC;
}

header#header {
    text-align: center;
}

div#self_introduction {

    width: 75%;
}

a:visited {
    color: #FFFFE0;
}

div#contacts {
    width: 75%;
}

div#contents {
    width: 75%;
}

div#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background-color: black;
    color: #00FF00;
}

footer {
    text-align: center;
}
